# Redirects for removed pages
Redirect 301 /portfolio/resume.html /portfolio/lets-work-together.html
Redirect 301 /portfolio/contact.html /portfolio/lets-work-together.html

# Ensure trailing slashes are handled consistently
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ $1/ [L,R=301]

# Custom 404 page
ErrorDocument 404 /portfolio/404.html